.Main {
  max-width: 600px;
  margin: 10px auto 0 auto;
  padding: 20px 30px 10px 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.Github-link {
  margin-top: 10px;
  text-align: center;
}
