.Temp {
  position: relative;
}

.Temp-value {
  margin-right: 2px;
  display: inline-block;
  font-size: 90px;
  color: var(--second-color);
}

.Temp-units {
  display: inline-block;
  position: absolute;
  top: 30px;
  font-size: 20px;
}

.Temp-units a {
  text-decoration: none;
  color: black;
  transition: all ease-in-out 0.2s;
}

.Temp-units a:hover {
  text-decoration: none;
  color: rgb(117, 117, 255);
  cursor: pointer;
}

.Temp-units .Active {
  color: blue;
}

@media (max-width: 570px) {
  .Temp {
    text-align: center;
  }
}
