.City-name {
  font-weight: 700;
  font-size: 30px;
}

.Icon-main {
  text-align: center;
}

.Temp {
  position: relative;
}

.Temp-value {
  margin-right: 2px;
  display: inline-block;
  font-size: 90px;
  color: var(--second-color);
}

.Temp-units {
  display: inline-block;
  position: absolute;
  top: 30px;
  font-size: 20px;
}

.Temp-units a {
  text-decoration: none;
  color: inherit;
  transition: all ease-in-out 0.2s;
}

.Temp-units a:hover {
  text-decoration: none;
  color: blue;
}

.Active {
  color: var(--second-color);
  color: blue;
  cursor: default;
}

.Weather-values {
  padding: 5px 0 0 5px;
  font-size: 18px;
  text-align: left;
}

.Weather-values span {
  text-transform: lowercase;
}

@media (max-width: 570px) {
  .Temp,
  .Weather-values li {
    text-align: center;
  }
}
